<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <div class="header">
        <div class = "container" style = "height:100px">
          <div class="row" style = "height:100%">
            <div class="col-md-2" style = "height:100%;">
              <a href="https://www.instagram.com/">
                <img src="https://worldvectorlogo.com/logos/instagram.svg" style = "width:150px; length:1000px; margin-left:10px;margin-top:30px;"></img>
              </a>
            </div>
            <div class="col-md-8" style = "height:100%;">
              <form align="center" style = "margin:35px">
                <input style ="text-align:center;border-radius:10px; width:216px; length:200px; background-color:#FAFAFA;" type="text" name="searchbar" placeholder="검색창입니다"><br>
              </form>
            </div>
            <div class="col-md-2" style = "height:100%;margin-top:25px" >
              <button type="button" class="btn btn-default" >
                <span class="glyphicon glyphicon-cog" aria-hidden="true" sizes="100px;"></span>
              </button>
              <button type="button" class="btn btn-default" style = "margin-left:10px">
                <span class="glyphicon glyphicon-cog" aria-hidden="true" sizes="100px;"></span>
              </button>
              <button type="button" class="btn btn-default" style = "margin-left:10px">
                <span class="glyphicon glyphicon-cog" aria-hidden="true" sizes="100px;"></span>
              </button>
            </div>
          </div>
        </div>
    </div>
    <div class="body">
      <div class = "container">
        <div class="row">
          <div class="col-md-12" style="background-color:#FAFAFA;">
            <div class="col-md-8 " style="margin-left:250px;margin-right:250px;">
              <div class="upload" style="width:600px; height:216px; background-color:#4090DB; margin-top:50px;margin-bottom:50px; text-align:center;">
                <button type="submit" style="border:none; background:none;" >
                  <img src="https://1.bp.blogspot.com/-s1EFo9SHL4Y/Vvg9Hp9AxPI/AAAAAAAAATQ/VSkeYXS6y9oA7WtJMphcleO0oxR8udang/s320/%25E1%2584%2589%25E1%2585%25B3%25E1%2584%258F%25E1%2585%25B3%25E1%2584%2585%25E1%2585%25B5%25E1%2586%25AB%25E1%2584%2589%25E1%2585%25A3%25E1%2586%25BA%2B2016-03-28%2B%25E1%2584%258B%25E1%2585%25A9%25E1%2584%258C%25E1%2585%25A5%25E1%2586%25AB%2B5.04.05.png"></img>
                </button>
              </div>
            </div>
            <div class="col-md-8 " style="margin-left:250px;margin-right:250px;margin-top:10px;margin-bottom:10px;">
              <div class="followUser">
                <strong>팔로우할 추천 계정</strong>
              </div>
              <div class="followID" style="width:600px; height:216px; background-color:white; margin-top:50px;margin-bottom:50px; text-align:center;">
                <button type="submit" style="border:none; background:none;" >
                  
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    
   
  </body>


</html>
